body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
  background-color: rgb(8, 32, 77);
  position: relative;
  height: 100vh;
  width: 100vw;
}

#div {
  border: solid 1px indianred;
  width: 250px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 -3px 5px rgb(174, 177, 184), 0 4px 24px rgb(4, 8, 8);
}
#pass {
  border: solid 1px #fff;
  border-radius: 4px;
  text-align: center;
  color: rgb(23, 3, 54);
  box-shadow: inset 0 -1px 5px rgb(61, 62, 63), 0 4px 24px rgb(4, 8, 8);
}
#result {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(1px);
  border: solid 1px indianred;
  width: 250px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  position: absolute;
  top: 35%;
  left: 50%;
  color: rgb(241, 245, 7);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  transform: translate(-50%, -50%);
  box-shadow: 0 -3px 5px rgb(174, 177, 184), 0 4px 24px rgb(4, 8, 8);
}
#result::after {
  content: "result";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100px;
  height: 20px;
  border: solid 1px navajowhite;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.787);
  font-size: 23px;
  color: black;
  padding-top: 0;
  filter: blur(0.1px);
  
}

#gen {
  margin-left: 5px;
  border: solid 1px #fff;
  border-radius: 4px;
  text-align: center;
  color: rgb(23, 3, 54);
  box-shadow: inset 0 -1px 5px rgb(61, 62, 63), 0 4px 24px rgb(4, 8, 8);
}

#pass:hover {
  box-shadow: 0 -1px 5px rgb(174, 177, 184), 0 4px 24px rgb(4, 8, 8);
  transform: scale(1.01);
}
#gen:hover {
  transform: scale(1.01);
  box-shadow: 0 -1px 5px rgb(174, 177, 184), 0 4px 24px rgb(4, 8, 8);
}



